    body {
      font-family: "Times New Roman", serif;
      font-size: 14px;
      line-height: 1.6;
      margin: 40px;
      color: #000;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 30px;
    }

    .offer-header img {
      width: 100%;
      max-width: 100%;
      display: block;
      margin-bottom: 30px;
    }


    .logo {
      font-weight: bold;
      font-size: 18px;
    }

    .college-info {
      text-align: right;
      font-size: 12px;
    }

    h2 {
      text-align: center;
      text-decoration: underline;
      margin: 30px 0;
      font-size: 16px;
    }

    .student-info {
      margin-bottom: 20px;
    }

    .student-info strong {
      display: inline-block;
      width: 150px;
    }

    .section {
      margin-bottom: 18px;
    }

    ul {
      margin-top: 5px;
    }

    .footer-note {
      margin-top: 40px;
      font-size: 12px;
      font-style: italic;
      text-align: center;
    }
